<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>WholeSaler-Login</title>
<link rel="stylesheet" href="static/css/styles.css" type="text/css" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
</head>

<body>

		<section id="body" class="width" style="background-color: #84C639">
			<aside id="sidebar" class="column-left">

			<!--THE LEFT SIDE MENU IS DUE TO THE ABOVE CODE...!!-->
			<nav id="mainnav" style="background-color: #84C639">
   				<ul>
                            		<li ><a href="/staff_login">Home</a></li>
									<li><a href="/add_trans">New Transaction</a></li>
									<!--<li><a href="Defaulters_Table.htm">Defaulters Table</a></li>-->
                            		<li><a href="/update_stocks">Updating Stocks</a></li>
                            		<li><a href="/add_supplier">Add Supplier</a></li>
									<li><a href="/customers_list"> Customers List</a></li>
									<li class="selected-item"><a href="/add_product">Add Product</a></li>


                </ul>
			</nav>



			</aside>

		<section id="content" class="column-right">

	    <article>

		<blockquote><p><h5 style="margin-bottom: 5px">{{message}}</h5>------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p></blockquote>
		<p>&nbsp;</p>

		<!--	<a href="#" class="button">Read more</a>
			<a href="#" class="button button-reversed">Comments</a> -->
		<!--IN THIS FIELD WE CAN ADD THE CUSTOMER..-->
		<fieldset>
					<!--YOU NEED TO WRITE AN ACTION HERE...-->
				<legend><strong>Add Product</strong></legend>
					<form action="/create_product" method="post">
<!--name,category,supplier,quantity,unit_price,unit_selling_price,available_stock,unit_in_order,reorder_level-->
						<p><label for="name">Product Name:</label>
						<input name="name" id="name" required/><br /></p>

						<p><label for="category">Category:</label>
						<input type="text" name="category" id="category" value="" required/><br /></p>

						<p><br><label for="supplier">Supplier Name:</label>
						<input type="text" name="supplier" id="supplier" value=""  required/><br /></p>

						<p><label for="unit_price">Unit Price:</label>
						<input type="number" name="unit_price" id="unit_price" value=""  required/><br /></p>

						<p><label for="unit_selling_price">Unit Selling Price:</label>
						<input type="number" name="unit_selling_price" id="unit_selling_price" value=""  required/><br /></p>

						<p><label for="unit_in_order">Unit in Order:</label>
						<input type="number" name="unit_in_order" id="unit_in_order" value=""  required/><br /></p>

						<p><label for="quantity">Quantity:</label>
						<input type="number" name="quantity" id="quantity" value=""  required/><br /></p>

						<p><label for="reorder_level">Reorder Level:</label>
						<input type="number" name="reorder_level" id="reorder_level" value=""  required/><br /></p>

						<p><input type="submit" name="send" class="formbutton" value="Send"  style="background-color: #84C639"/></p>

					</form>


		</fieldset>

		</article>



		</section>

		<div class="clear"></div>

	</section>


</body>
</html>
